<!-- <router-outlet></router-outlet> -->

<button (click)="register(data)">Register</button>
<br>
<br>
<button (click)="login(data)">Login</button>
<br>
<br>
<button (click)="getAllUser()">Get All Users</button>
<br>
<br>
<button (click)="getUser(id)">Get User</button>
<br>
<br>
<button (click)="updateUser()">Update User</button>
<br>
<br>
<button (click)="addC()">Add New Doc</button>
<br>
<br>
<button (click)="getQuery()">Get Query</button>
<br>
<br>
<button (click)="getAll()">Get all</button>
<br>
<br>
<button (click)="getId('nCtvzDF11zCeQmKcVzhg')">Get id</button>
<br>
<br>
<button (click)="removeDoc()">Remove Doc</button>
